@charset "UTF-8";

@font-face {
    font-family: "toast";
    src: url("../fonts/TexasToast.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor1: #FFE3BC;
    --cor2: #E7C48C;
    --cor3: #F29725;
    --cor4: #BF6407;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-toast: "toast", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    font-family: var(--font-padrao);
    height: 100vh;
}

header{
    background-color: white;
    font-family: var(--font-toast);
    text-align: center;
    min-width: 30vw;
    max-width: 60vw;
    padding-top: 20px;
    margin: auto;
    margin-top: 20px;
}

main{
    background-color: white;
    text-decoration: none;
    min-width: 30vw;
    max-width: 60vw;
    padding-top: 20px;
    margin: auto;
}